@import "../../../assets/scss/colors";

.sidebar {
    background-color: $sandstone;
    height: calc(100% - 40px);
    margin: 20px 20px 20px 15px;

    .sidebar-menu-item {
        padding: 35px 20px;
    }
}