<mat-toolbar class="topbar mat-elevation-z6" color="primary">
  <mat-toolbar-row fxLayout>
    <a class="topbar-item topbar-sidemenu-toggle" fxLayout fxLayoutAlign="center center" matRipple
      [matRippleColor]="'rgba(238, 238, 236, 0.16)'" (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </a>
    <a class="topbar-item topbar-logo" fxLayout fxLayoutAlign="center center" matRipple
      [matRippleColor]="'rgba(238, 238, 236, 0.16)'">
      <mat-icon class="topbar-logo-icon">local_pharmacy</mat-icon>
      <p class="topbar-logo-text">Pro Clinic</p>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
