<div class="footer" fxLayout fxLayoutAlign="space-between center">
    <mat-icon class="logo user-select-none">local_pharmacy</mat-icon>

    <div class="middle-title">Current Version: 1.0.2</div>

    <div class="copyrights">
        <p>© Ing. Vlad-Iosif Orbulescu | Dizertatie 2020</p>
        <div class="links">
            <p>
                <a href="https://www.upt.ro/" target="_blank">Universitatea Politehnica Timisoara</a>
            </p>
            <p>
                <a href="http://www.ac.upt.ro/" target="_blank">Facultatea de Automatica si Calculatoare</a>
            </p>
            <p>
                <a href="http://www.ac.upt.ro/uploads/admitere-2010/prezentare-ti.html" target="_blank">Master
                    Tehnologii
                    Informatice</a>
            </p>
        </div>
    </div>
</div>