.app-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;

  .topbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .global-spinner {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  .spinner-overlay {
    position: absolute;
    width: 100%;
    height: calc(100% - 76px);
    z-index: 20;
    background: rgba(0, 0, 0, 0.2);

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  .content-container {
    // Whole page - topbar & footer
    max-height: calc(100vh - 140px);

    .content-wrapper {
      // The parent above - secondary topbar
      max-height: calc(100% - 80px);

      .sidebar-container {
        width: 280px;
      }

      .content {
        position: relative;
        flex: 1 1 auto;
        max-height: calc(100vh - 260px);
        overflow: auto;
        padding: 20px 30px 20px 10px;
      }
    }
  }

  .footer-container {
    margin-top: auto;
  }
}