<div class="app-container" fxLayout="column">
  <pc-topbar class="topbar-container"></pc-topbar>

  <div class="global-spinner" *ngIf="shouldShowGlobalSpinner()">
    <img class="spinner" src="/assets/img/default-spinner.gif" alt="loading...">
  </div>

  <div class="content-container" fxLayout="column" fxFlex="1 1 auto" *ngIf="!shouldShowGlobalSpinner()">
    <pc-secondary-topbar *ngIf="isAuthenticated()"></pc-secondary-topbar>

    <div class="content-wrapper" fxLayout fxFlex="1 1 auto" [@blockInitialAnimation]>
      <pc-sidebar class="sidebar-container" *ngIf="isSidebarOpen()" [@slideInOut]>
      </pc-sidebar>

      <div class="content" [@followUp]="isSidebarOpen()">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <pc-footer class="footer-container"></pc-footer>
</div>