<div class="admin-dashboard"
    *ngIf="isAdministrator()">
    <form fxLayout="column">
        <mat-form-field [hideRequiredMarker]="true">
            <mat-label>
                <span>Default Shift Hourly Rate (RON)</span>
            </mat-label>

            <input matInput
                autocomplete="off"
                name="defaultShiftHourlyRate"
                [(ngModel)]="defaultShiftHourlyRate" />
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
            <mat-label>
                <span>Weekend Shift Hourly Rate (RON)</span>
            </mat-label>

            <input matInput
                autocomplete="off"
                name="weekendShiftHourlyRate"
                [(ngModel)]="weekendShiftHourlyRate" />
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="true">
            <mat-label>
                <span>Max Shift Hours</span>
            </mat-label>

            <input matInput
                name="shiftHoursLimit"
                [(ngModel)]="shiftHoursLimit"
                autocomplete="off" />
        </mat-form-field>

        <button mat-flat-button [color]="'primary'" (click)="updateAdminData()">UPDATE</button>
    </form>
</div>
<div class="dashboard" *ngIf="!isAdministrator()">
    <div class="actions"
        fxLayout
        fxLayoutAlign="space-between center">
        <div>
            <h2 class="title">Statistics</h2>
        </div>
        <!-- // TODO: Component -->
        <div class="month-selector"
            fxLayout
            fxLayoutAlign="center">
            <div fxLayout>
                <!-- For testing purposes and to accommodate firebase read quotas, don't go below june -->
                <div class="back"
                    *ngIf="!shouldHideBackButton()">
                    <mat-icon (click)="goMonthBack()">arrow_back</mat-icon>
                </div>
                <p class="lower-month">
                    {{ getCurrentDateLowerRange() }}
                </p>
                -
                <p class="upper-month"
                    [ngClass]="{ 'today': isDateUpperRangeToday() }">
                    {{ getCurrentDateUpperRange() }}
                </p>
                <div class="forward"
                    *ngIf="!shouldHideForwardButton()">
                    <mat-icon (click)="goMonthForward()">arrow_forward</mat-icon>
                </div>
            </div>
        </div>

    </div>

    <div class="quick-statistics"
        fxLayout
        fxLayoutGap="35px"
        fxLayoutAlign="space-between" *ngIf="!isAdministrator()">
        <div class="count visits-count">
            <div class="icon">
                <mat-icon>person_search</mat-icon>
            </div>
            <div class="stats">
                <div class="number">
                    {{ getVisitsCount() }}
                </div>
                <div class="title visits"
                    (click)="goToVisits()">Visits</div>
            </div>
        </div>

        <div class="count emergencies-count">
            <div class="icon">
                <mat-icon>assignment_late</mat-icon>
            </div>
            <div class="stats">
                <div class="number">
                    {{ getEmergenciesCount() }}
                </div>
                <div class="title">Emergencies</div>
            </div>
        </div>

        <div class="count shifts-count">
            <div class="icon">
                <mat-icon>autorenew</mat-icon>
            </div>
            <div class="stats">
                <div class="number">
                    {{ getShiftsCount() }}
                </div>
                <div class="title">Shifts</div>
            </div>
        </div>

        <div class="count working-hours-count">
            <div class="icon">
                <mat-icon>hourglass_empty</mat-icon>
            </div>
            <div class="stats">
                <div class="number">
                    {{ workedHours }}
                </div>
                <div class="title">Worked Hours</div>
            </div>
        </div>
    </div>

    <div class="charts"
        fxLayout="column" *ngIf="!isAdministrator()">
        <div fxLayout>
            <div class="chart-container extra-hours-chart-container mat-elevation-z3">
                <div class="title">
                    Regular worked & shift hours
                </div>
                <div class="subtitle">
                    The normal and shift working time
                </div>
                <div class="extra-hours"
                    id="extraHours">
                </div>
            </div>

            <div class="chart-container visits-emergencies-chart-container mat-elevation-z3">
                <div class="title">
                    Emergencies & Visits
                </div>
                <div class="subtitle">
                    Regular visits or emergencies
                </div>
                <div class="pie-chart"
                    id="visitsEmergencies">
                </div>
            </div>
        </div>

        <div class="chart-container month-overview-chart-container mat-elevation-z3">
            <div class="title">
                Monthly Overview
            </div>
            <div class="subtitle">
                Visits, emergencies, shifts & worked hours
            </div>
            <div class="pie-chart"
                id="monthOverview">
            </div>
        </div>
    </div>

</div>