<div class="dashboard">
    <div class="quick-statistics">
        <div class="count visits-count">

        </div>
        <div class="count emergencies-count">

        </div>
        <div class="count shifts-count">

        </div>
        <div class="count working-hours-count">

        </div>
    </div>

    <div class="graphs">
        <div class="visits-graph">

        </div>

        <div class="emergencies-graph">

        </div>
    </div>

    <div class="charts">
        <div class="pie-charts">
            <div class="visits-to-emergencies">

            </div>

            <div class="working-to-shift-days">
                
            </div>
        </div>

        <div class="age-chart">

        </div>
    </div>

</div>