// BASE
$primary-color:#3f51b5;
$accent-color: #ff4081;
$sandstone: #EFEFED;
$rock-dust: #DADADA;
$white: white;
$olive: #343400;
$success: #2BBBAD;
$warning-dark: #FF8800;
$info: #33b5e5;

// OTHERS
$gray-ripple: rgba(238, 238, 236, 0.16);